<launch>
	<node pkg="communication" type="udp_node" name="udp_node" output="screen" respawn="true" >
	</node>

	<node pkg="communication" type="move_node" name="move_node"  >
	</node>
	
	<node pkg="communication" type="moveRound_node" name="moveRound_node"  >
	</node>
        
        <node pkg="communication" type="zigbee2_node" name="zigbee2_node"  >
	</node>  

        <node pkg="communication" type="plc_node" name="plc_node"  >
	</node>

        <node pkg="processor" type="processor" name="processor" output="screen"  >
	</node>

        <node pkg="stateandalarm" type="stateandalarm" name="stateandalarm"  >
        </node>

        <node pkg="move" type="parking" name="parking" output="screen"  >
        </node>

        <node pkg="communication" type="zigbee_node" name="zigbee_node"  >
        </node>

        <node pkg="move" type="move" name="move" >
        </node>
        
        <node pkg="pkg_back" type="back" name="back" >
        </node>

        <node pkg="pkg_back" type="battery_node" name="battery_node" >
        </node>

        <node pkg="pkg_return" type="node_return" name="node_return" >
        </node>  
                    
        <include file= "$(find robot_upstart)/launch/nav.launch"/>
        
</launch>
